@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../assets/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("../assets/fonts/GeneralSans-Variable.woff") format("woff"),
    url(".../assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: block;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

#hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: #cd005c;
  clip-path: polygon(0 13%, 100% 60%, 100% 100%, 0% 100%);
}

#hero-title {
  background: url("../assets/img/bg-line.avif") bottom center no-repeat;
}

#hero-btn {
  box-shadow: 0 0.625em 1em 0 rgba(255, 30, 146, 0.35);
}
